<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>GolfGlobal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb503331813804161</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.150393205713-s745tloscv1hq551tfh1acm8pmlvra79</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>FacebookAppID</key>
	<string>503331813804161</string>
	<key>FacebookDisplayName</key>
	<string>GolfGlobal-dev</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>We need you to allow us to access the Music for better experiences.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need you to allow us to access the Bluetooth for better experiences.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need you to allow us to access the Blutooth Peripheral for better experices.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We need you to allow us to access your calendar for setup your dating automatically.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need your camera usage permission to capture image of your card, your best moment.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need you to allow us to access your contact to get your friend list</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need you to allow us to access your location services so that we can know who will be the best selection for you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need you to allow us to know your current location for better experiences.</string>
	<key>NSMotionUsageDescription</key>
	<string>We need you to allow us to access the Motion usage for better experiences.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to get an image of your card, your best photo.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need you to allow us to access the Speech Recognition for better experiences.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>We need you to allow us to access the Music for better experiences.</string>
</dict>
</plist>
